<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Galleria</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap/css/agency.min.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap/css/scrolling-nav.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap/css/creative.min.css" rel="stylesheet" />
<link href="css/mycss.css" rel="stylesheet" type="text/css" />

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<nav id="mainNav"
		class="navbar navbar-inverse navbar-custom navbar-fixed-top"
		role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Smart
					Gallery</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-left">
					<li class="hidden"><a href="#page-top"></a></li>
					<li><a href="/home">Home</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" th:text="#{label.carosello}"
						href="#intro">Carosello</a></li>
					<li><a class="page-scroll" th:href="@{/cercaOpera}">Cerca
							Opera</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<section id="intro" class="intro-section">

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3"
					th:text="#{label.daiUnoSguardo}" id="galleria" align="center">Dai
					uno sguardo alla galleria...</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<!-- Inizio carousel -->

					<div id="slideshow" class="carousel slide carousel-fade">

						<!-- Indicatori di posizione -->
						<ol class="carousel-indicators">
							<li data-target="#slideshow" data-slide-to="0" class="active"></li>
							<li data-target="#slideshow" data-slide-to="1"></li>
							<li data-target="#slideshow" data-slide-to="2"></li>
							<li data-target="#slideshow" data-slide-to="3"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<img
									src="http://restaurars.altervista.org/wp-content/uploads/2015/04/Tiziano_-_Venere_di_Urbino_-_Google_Art_Project.jpg"
									alt="Venere_di_Urbino"></img>
								<div class="carousel-caption"></div>
							</div>
							<div class="item">
								<img
									src="http://cultura.biografieonline.it/wp-content/uploads/2012/10/notte-stellata-sul-rodano-van-gogh.jpg"
									alt="Notte_Stellata"></img>
								<div class="carousel-caption"></div>
							</div>
							<div class="item">
								<img
									src="http://restaurars.altervista.org/wp-content/uploads/2015/04/Botticelli-primavera.jpg"
									alt="la_primavera"></img>
								<div class="carousel-caption"></div>
							</div>
							<div class="item">
								<img
									src="http://www.icviagentile40.gov.it/wordpress/wp-content/uploads/2014/04/guernica.jpg"
									alt="guernica"></img>
								<div class="carousel-caption"></div>
							</div>
						</div>

						<!-- Controlli -->
						<a class="left carousel-control" href="#slideshow"
							data-slide="prev"> <span class="icon-prev"></span>
						</a> <a class="right carousel-control" href="#slideshow"
							data-slide="next"> <span class="icon-next"></span>
						</a>
					</div>

					<!-- Fine carousel -->

				</div>
			</div>
		</div>
	</section>


	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/scrolling-nav.js"></script>

	<script type="text/javascript" src="bootstrap/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/agency.min.js"></script>

</body>
</html>