<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Galleria d'arte</title>


<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />

<link href="bootstrap/css/agency.min.css" rel="stylesheet"
	type="text/css" />

<link href="bootstrap/css/scrolling-nav.css" rel="stylesheet"
	type="text/css" />

<link href="css/mycss.css" rel="stylesheet" type="text/css" />


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<nav id="mainNav"
		class="navbar navbar-inverse navbar-custom navbar-fixed-top"
		role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Smart
					Gallery <!-- <img src="https://upload.wikimedia.org/wikipedia/it/c/c8/Logo_Roma_Tre.jpg" alt="brand"></img> -->
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-left">
					<li class="hidden"><a href="#page-top"></a></li>
					<li><a href="/home">Home</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					
					<!-- DROPDOWN
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false" th:text="#{label.galleria}">Galleria
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/galleria}" th:text="#{label.vaiAllaGalleria}">Vai alla galleria</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/gestisciGalleria}" th:text="#{label.gestisciGalleria}">Gestisci la galleria</a></li>
							</ul>
						</li>
						
						 -->



					<li><a class="page-scroll" href="#portfolio">Galleria</a></li>
					<li><a class="page-scroll" href="#about">About</a></li>

					<!-- visualizza galleria,cercaopera -->
					<li><a class="page-scroll" href="#team">Team</a></li>
					<li><a class="page-scroll" th:href="@{/login}">Login
							Amministratore</a></li>

				</ul>


			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<header>
		<div class="container">
			<div class="intro-text">
				<div class="intro-lead-in">Benvenuto!</div>

				<div class="col-md-6 col-md-offset-3" id="intestazione" align="center">Galleria
					d'arte</div>
			</div>
		</div>
		<a href="#portfolio" class="page-scroll btn btn-xl">Leggi ancora</a>

	</header>

	<!-- 

	<section id="intro" class="intro-section">

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					
					<div class="page-header" align="center">
						<h1 align="center">Galleria d'arte</h1>
					</div>
				</div>
			</div>
		</div>

	</section>
 -->

	<section id="portfolio" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div id="titolo-portfolio" class="col-lg-12 text-center">
					<h2 class="section-heading">La nostra Galleria</h2>
					<h3 class="section-subheading text-muted">L'arte del futuro.</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 portfolio-item">
					<a th:href="@{/galleria}">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"></div>
						</div> <img src="img/galleria-portfolio.jpg" class="img-responsive"
						alt="" />
					</a>
					<div class="portfolio-caption">
						<h4>Vai alla Galleria</h4>
						<p class="text-muted">Visual Experience</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 portfolio-item">
					<a th:href="@{/cercaOpera}">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content"></div>
						</div> <img src="img/cercaopera-portfolio.jpg" class="img-responsive"
						alt="" />
					</a>
					<div class="portfolio-caption">
						<h4>Cerca un'opera</h4>
						<p class="text-muted">dalla lista di tutte le opere!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about-section bg-dark-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">About</h2>
					<h3 class="section-subheading text-muted">La nostra storia</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/seed-about.png"
									alt="" />
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2016-2017</h4>
									<h4 class="subheading">I Primi Passi</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Un sogno. Un ideale. Un'ispirazione.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/tree-about.png"
									alt="" />
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>Giugno 2017</h4>
									<h4 class="subheading">La Galleria è Nata</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Il sogno diventato realtà!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>
									Entra a far parte <br />Della nostra <br />Storia!
								</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</section>

	<section id="team" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Il Nostro Team</h2>
					<!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor
						sit amet consectetur.</h3> -->
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="team-member">
						<img src="img/grootq-team.jpg" class="img-responsive img-circle"
							alt="" />
						<h4>Alessandro Cimmino</h4>
						<p class="text-muted">Engineering Student</p>
						<ul class="list-inline social-buttons">
							<li><a href="https://github.com/AlessandroCimmino"><img
									src="img/GitHub-Mark-Light-120px-plus.png"
									class="img-responsive img-circle" alt="" /></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team-member">
						<img src="img/stormq-team.jpg" class="img-responsive img-circle"
							alt="" />
						<h4>Eleonora Bartolomucci</h4>
						<p class="text-muted">Engineering Student</p>
						<ul class="list-inline social-buttons">
							<li><a href="https://github.com/EleonoraBartolomucci"><img
									src="img/GitHub-Mark-Light-120px-plus.png"
									class="img-responsive img-circle" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/scrolling-nav.js"></script>
	<script type="text/javascript" src="bootstrap/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/agency.min.js"></script>
</body>
</html>