<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Modifica Quadro</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
	<link href="bootstrap/css/agency.min.css" rel="stylesheet"
	type="text/css" />
<link href="bootstrap/css/scrolling-nav.css" rel="stylesheet"
	type="text/css" />
	
<link href="css/mycss.css" rel="stylesheet" type="text/css" />


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<nav id="mainNav"
		class="navbar navbar-inverse navbar-custom navbar-fixed-top"
		role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Smart Gallery
					<!-- <img src="https://upload.wikimedia.org/wikipedia/it/c/c8/Logo_Roma_Tre.jpg" alt="brand"></img> -->
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-left">
					<li class="hidden"><a href="#page-top"></a></li>
					<li><a href="/home">Home</a></li>
				</ul>
				
				
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" th:href="@{/inserimentoQuadro}">Inserisci un nuovo quadro</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	<section id="intro" class="intro-section">
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="galleria" align="center">Modifica il quadro :</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
		<form class="form" th:action="@{/dettagliQuadro}" method="post" th:object="${quadro}">
						<div class="form-group">
    						<label for="inputTitolo" id="label-form">Titolo*:</label>
  								<input type="text" name="titolo" class="form-control" id="formGroupExampleInput" th:field="*{titolo}"/>
  								<span class="text-muted"
									th:if="${#fields.hasErrors('titolo')}"
									th:text="#{label.mandatory}">Error
								</span>
						</div>
						<div class="form-group">
							<label for="inputTecnica" id="label-form">Tecnica*: </label>
									<input type="text" name="tecnica" id="textArea" class="form-control" th:field="*{tecnica}"/>
									<span class="text-muted"
								th:if="${#fields.hasErrors('tecnica')}"
								th:text="#{label.mandatory}">Error</span>
						</div>
						<div class="form-group">
							<label for="inputAnno" id="label-form">Anno di pubblicazione*: </label>
									<input type="text" name="anno" id="textArea"  class="form-control" th:field="*{anno}"/>
									<span class="text-muted"
								th:if="${#fields.hasErrors('anno')}"
								th:text="#{label.annoValido}">Error</span>
							</div>
							<div class="form-group">
							<label for="inputDimensione" id="label-form">Dimensione*: </label>
									<input type="text" name="dimensione" id="textArea"  class="form-control" th:field="*{dimensione}" placeholder="hhhhxwwww" /> 
									<span class="text-muted"
								th:if="${#fields.hasErrors('dimensione')}"
								th:text="#{label.mandatory}">Error</span>
							</div>

							<div class="form-group">
							<label for="inputAutore" id="label-form">Autore*: </label><select name="autoreId" id="textArea" class="form-control" th:field="*{autore}">
									<option th:each="autore : ${autori}"  th:selected="${autore.id==quadro.autore.id}" 
									th:value="${autore.id}" th:text="${autore.nome}+' '+${autore.cognome}"></option>
							</select><span class="text-muted" th:if="${#fields.hasErrors('autore')}"
								th:text="#{label.mandatory}">Error</span>
							</div>
							
							<div class="form-group">
							<label for="urlImmagine" id="label-form">Cambia l'immagine</label>
     							<input class="form-control" id="textArea" th:field="*{image}" name="urlImage" placeholder="Inserisci l'url dell'immagine..." />
    						</div>
							
							<input type="hidden" name="quadroVecchioId" th:value="${quadro.id}"/>
						 <button type="submit" name="modificaQuadro" class="btn btn-primary confermaModifica">Conferma </button>
						  <button type="submit" name="annullaModificaQuadro" class="btn btn-primary">Annulla </button>
						 </form>
						 </div>
						 </div>
						 </div>
	</section>
	<!-- IMMAGINE -->
		<!--  <form th:action="@{/dettagliQuadro}" method="post">
			<ul>
				<li>Titolo: <input type="text" name="titolo" th:value="${quadro.titolo}" /></li>
				<li>Anno di pubblicazione: <input type="text" name="anno" th:value="${quadro.anno}" /></li>
				<li>Tecnica: <input type="text" name="tecnica" th:value="${quadro.tecnica}" /></li>
				<li>Dimensione: <input type="text" name="dimensione" placeholder="hhhhxwwww" th:value="${quadro.dimensione}" /></li>
		
		
				<li>Autore: 
					<select name="autoreId">
           				<option th:each="autore : ${autori}" id="autoreId" th:selected="${autore.id==quadro.autore.id}" th:value="${autore.id}" th:text="${autore.nome}+' '+${autore.cognome}"></option>
           			</select>
				</li>
			</ul>
			<input type="hidden" name="quadroId" th:value="${quadro.id}"/>	
			<input type="submit" name="modificaQuadro" value="Conferma Modifiche"/>
			<input type="submit" name="annullaModificaQuadro" value="Annulla Modifica"/>	
		</form>-->
		
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/scrolling-nav.js"></script>
	
	<script type="text/javascript" src="bootstrap/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/agency.min.js"></script>
	</body>
</html>