<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="css/mycss.css" rel="stylesheet" type="text/css" />
<title>Dati quadro inseriti</title>
</head>
<body>
	<h1>Hai inserito questi dati:</h1>
	<ul>
		<li><strong>Titolo: </strong><span th:text="${quadro.titolo}"></span></li>
		<li><strong>Autore: </strong><span th:text="${quadro.autore.nome}+' '+${quadro.autore.cognome}"></span></li>
		<li><strong>Anno di pubblicazione: </strong><span th:text="${quadro.anno}"></span></li>
		<li><strong>Dimensione: </strong><span th:text="${quadro.dimensione}"></span></li>
		<li><strong>Tecnica: </strong><span th:text="${quadro.tecnica}"></span></li>
	</ul>
	<div><a href="/home">Torna alla home</a></div>
	
	<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>