<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h2 align="center" class="bs-docs-featurette-title">Sign Up</h2>
		<div class="container">
			<form method="post" action="" class="form-signin">
				<label for="inputName" class="sr-only">Name</label>
				<input class="form-control" type="text" placeholder="Name" /><br />
				<label for="inputSurname" class="sr-only">Surname</label>
				<input class="form-control" type="text" placeholder="Surname" /><br />
				<label for="inputEmail" class="sr-only">Email</label>
				<input class="form-control" type="text" placeholder="Email" /><br />
				<label for="inputPassword" class="sr-only">Password</label>
				<input class="form-control" type="password" placeholder="Password" /><br />
				<button class="btn btn-lg btn-primary btn-block" type="submit"
					name="signup" value="Sign up">Sign up</button>
			</form>
		</div>
	</div>
</body>
</html>