@CHARSET "UTF-8";

#dettagliTitolo{
	font-family: "Garamond, serif";
font-size: 40px;
font-weight: 300;
color: white;
vertical-align: middle;
}

#dettagli{
	font-family: "Garamond, serif";
	padding-top: 45px;
    font-size: 20px;
    color: #bbb6b1;
	
}

#label-form{
	font-family: "Garamond, serif";
	color: #bbb6b1;
}

#textArea{
	font-family: "Garamond, serif";
}

.confermaModifica{
	margin-right: 20px;
}

.modificaCancella{
	padding: 20px;
}

.dettagli{
	padding: 60px;
	padding-bottom: initial;
}
#titolo-portfolio{
	margin-bottom: 90px;
}

#about{
	padding-top: 100px;
}

#about * {
	color: #c3c3c3;
	font-color: #c3c3c3;
}

.opera {
    position: relative;
    
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.opera:hover .image {
  opacity: 0.3;
}

.opera:hover .middle {
  opacity: 1;
}

.descrizioneOpera {
  background-color: #fed136;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

label{
	font-size: 20px;
}

#mostra-dati-inserimento-quadro,#conferma-cancellazione-quadro{
	font-family: "Garamond, serif";
    font-style: italic;
    font-size: 40px;
    margin-top: 60px;
    
}

#inserimento-successo,#conferma-cancellazione{
    margin-bottom: 50px;
    color: #c3c3c3;
}

#galleria{
    font-family: "Garamond, serif";
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    padding: 25px;
	color: white
}

#listaOpere{
	font-family: "Garamond, serif";
    font-style: italic;
    font-size: 40px;
    color: white;
}


.carousel-inner{
  width: 100%;
  height: 640px;
}

.navbar-brand img{
	max-height: 100%;
}

.navbar-brand{
	font-style: italic;
}

div.carousel-inner img{
    width: 100%;
}

div.page-header{
	padding : 15px
}

.navbar {
    margin-bottom: 0px;
}

!nav.navbar div,nav.navbar ul,nav.navbar form,nav.navbar li,nav.navbar input,nav.navbar button,nav.navbar .navbar-brand{ 
!	height: 100px;
!	vertical-align: middle;
!}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#intestazione{
	border: 7px solid white;	
	padding: 30px 0;
	color: white; 
	font-family: Garamond, serif;
	font-size: 70;
    font-weight: bold;
}
!#c3c3c3

h2{
	font-color:light-gray;
}



.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="name"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="surname"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.half-rule {
    width: 100px;
    margin: 40px auto;
}

#slideshow .carousel-control{
	background-image: none;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  height: 100%;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      display: flex;
	  align-items: center;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}